html{
	padding: 2rem;
	display: flex;
}

h2 {
	margin-left: 33vw;
	font-size: 2.3em;
	font-family: Work Sans, sans-serif;
}
.team{
	padding: 2rem;
	font-size: 1.3em;
	font-family: Work Sans, sans-serif;
}
.project{
	padding: 2rem;
	font-family: Work Sans, sans-serif;
	font-size: 1.3em;
}