.nav-links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 16rem;
}

.nav-link {
  border: 2px solid #437E38;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
}

.projects,
.team {
  display: grid;
  grid-template-rows: 5rem;
  line-height: 2.5rem;
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
}

section p, li {
  font-size: 1.2rem;
}

.team-members {
  font-size: 1.5rem;
}

.team-member {
  align-items: center;
  display: flex;
  height: 3.5rem;
}

.team-member-link {
  font-size: 2rem;
  margin: 0 0.5rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
}