.container {
  background-image: url('../images/branches-background.png');
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3.5rem;
  height: 100vh;
}

.nav {
  grid-column: 1 / -1;
}

.profile-figure {
  height: 3rem;
}

#profileImage {
  border-radius: 961003px;
}

.main-branches {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.branch {
  align-items: center;
  background-color: #ffffff;
  border: solid #3DCB9A;
  border-radius: 100%;
  color: black;
  display: flex;
  font-size: 1.7vw;
  justify-content: center;
  margin: 3rem;
}

.branch:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.branch:active {
  margin: 3rem;
}

.branch-text:active {
  font-size: 85%;
}