body {
  background-image: url('../images/branches-background.png');
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-figure {
  justify-self: flex-start;
}

.logo,
#profileImage {
  height: 100%;
}

.profile-figure {
  height: 3rem;
  justify-self: flex-end;
  margin-right: 1rem;
}

#profileImage {
  border-radius: 961003px;
}

.branches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30vw;
}

.branch {
  align-items: center;
  background-color: #ffffff;
  border: solid #3DCB9A;
  border-radius: 100%;
  color: black;
  display: flex;
  font-size: 1.7vw;
  justify-content: center;
  margin: 3rem;
}

.branch:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.branch:active {
  margin: 3rem;
}

.branch-text:active {
  font-size: 85%;
}