nav{
   
    
}
nav li{
    align-content: center;
    list-style-type: none;
    display: inline;
    float: right;
}
li a{
    text-decoration: none;
    
    
    margin-right: 2%;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 1px;
}
.btn {
    border-color: #4CAF50;
    color: green;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}
body {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    text-align: center;
    margin: 5% 0 0 14%;
    font-size:4vh; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ol {
    list-style-type: none;
}

ol {
    margin-top: 5%;
    /* display: flex; */
    flex-direction: row;
    margin-bottom: 5%;
}

ol > li {
    margin-top: 15%;
    background-color: #ffffff;
    width: 125px;
    height: 125px;
    margin: 55px auto;
    text-align: center;
    line-height: 125px;
    /* margin-left: 41%; */
    border-radius: 100%;
    border: solid;
    border-color: #3DCB9A;
    font-size: 2.5vh; 
    color: black;
    
}
ol {
    transform: rotate(180deg);
}
ol > li {
    transform: rotate(-180deg);
}



ol > li:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.vl {
    margin: 0 0 0 48.5%;
    
    height: 500px;
}