.lesson {
  justify-self: flex-start;
  position: fixed;
}

#slide-out-lesson {
  align-items: center;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20rem repeat(5, 1fr);
  height: 100%;
  position: fixed;
  transition: 0.5s;
}

.openLesson {
  overflow-y: auto;
  font-size: 1.25rem;
  width: 100%;
}

.closedLesson {
  width: 0%;
}

.openbtn,
.closebtn {
  cursor: pointer;
  font-size: 1.5rem;
  left: 1rem;
  position: fixed;
  top: 5rem;
}

.bean-lesson-figure {
  grid-area: 1 / 3 / 2 / -2;
  height: 100%;
}

#beanLessonImage {
  height: 100%;
  width: 100%;
}

.bean-lesson {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 6 / -2;
  height: 100%;
  justify-content: space-around;
}

.bean-lesson h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.bean-lesson-with-image {
  margin-bottom: 15rem;
}

.bean-lesson h2 {
  font-size: 2rem;
  /* padding-top: 0.75rem; */
  text-decoration: underline;
}

.bean-lesson p {
  line-height: 2rem;
}

.code p::after {
  content: '\A';
  white-space: pre;
}

.triple-aaa-tdd::before {
  content: '\A';
  white-space: pre;
}

.noCode p::after {
  content: '\A';
  white-space: pre;
}

.noCode {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 1.5rem;
}