#slide-out-lesson {
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    top:0;
    transition: 0.5s;
    z-index: 1;
}

.openLesson {
    overflow-y: hidden;
    width: 100%;
}

.closedLesson {
    width: 0%;
}

.closebtn {
    color: black;
    font-size: 10vh;
    padding-right: 3vw;
    position: absolute;
    right: 0;
    text-decoration: none;
}

#lessonImage {
    left: 0;
    width: 50vw;
}

#beanLessonExample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem;
}
