p {
  white-space: normal;
}

#bean-answer {
    /* border-style: solid; */
    background-color: #E1F4ED;
}

.beanAnswers label::after {
    content: '\A\A';
    white-space: pre;
  }

#bean-answer:hover {
    background-color: #C6D984;

}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #E9E9E9;
}

.bold {
    font-weight: bold;
}

.closebtn {
    top:0;
    font-size: 10vh;
    float: right;
    padding-right: 3vw;
    /* margin-left: 75%; */
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 3vw;
}

h3 {
    padding-left: 3vw;
}

h4 {
    font-size: 1.25rem;
}

img {
    width: 50vw;
    left: 0;
}

/* #image-example {
    padding-left: 5vw;
} */

.lessonView {
    width: 0%;
  }

li {
    list-style: none;
}

.openbtn {
    cursor: pointer;
    font-size: 1.2rem;
  }

.openLesson {
    width: 100%;
}

p {
    padding-left: 3vw;
    padding-right: 3vw;
}

.purple {
    color: purple;
    font-weight: 700;
}

#question-and-answers {
    padding-left: 2.5vw;
}

#slide-out-lesson {
    height: 100vh;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    overflow-x: visible;
    overflow-y: scroll;
    top:0;
    left: 0;
    content: '\A\A';
    white-space: pre;
    background-color: white;
}

/* p > span {
    font-weight: bold;
} */