li {
  list-style: none;
}

.concept-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
}

.header-logo {
  width: 10rem;
}

#profile-image {
  border-radius: 100%;
  display: flex;
  width: 4%;
}

.enabledSubmitButton {
  background-color: #4CAF50;
}

.clusterBeans {
  display: flex;
  flex-direction: column;
}

#question-and-answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#beanQuestion {
  font-size: 2rem;
  padding: 5rem 5rem 0 5rem;
  text-align: center;
  width: 85vw;
}

.beanAnswers {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60vh;
  justify-content: space-around;
  width: 25%;
}

.bean-answer {
  height: 100%;
  width: 2.5rem;
}

#submitAnswer {
  border: none;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 150px;
}

.bean-label:hover {
  background-color: #D7D6D6;
}

.bean-label {
  border-color: #D7D6D6;
  border-radius: 2rem;
  border-style: solid;
  display: flex;
  font-size: 2.2vh;
  margin: 1rem;
  padding: 1rem;
  max-width: 100%;
}

h4 {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.incorrectAnswer {
  text-decoration: line-through;
  background-color: red;
}

.correctAnswer {
  background-color: green;
}

.modal-screen {
  display: none;
  position: absolute;
}

.next-question-modal {
  align-items: center;
  color: black;
  background: #c6d888;
  box-shadow: 0 0 15px 5px black;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: center;
  width: 15rem;
}

.modal-open {
  display: flex;
  bottom: 22rem;
}

#nextQuestionButton {
  background: aqua;
  font-weight: bold;
  height: 2.5rem;
  width: 75%;
}

footer {
  text-align: center;
  margin-top: 50px;
}

#bean-tree {
  height: 9rem;
  right: 1rem;
  top: 30rem;
  position: absolute;
  width: 12rem;
}