body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 5%;
}
.concept-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 5%;
}

.concept-container > div {
    margin-top: 15%;
    background-color: #f1f1f1;
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    line-height: 250px;
    margin-left: 5%;
    border-radius: 100%;
    box-shadow: 5px 10px;  
}

.bean-radio-multipleChoice{
    margin: 4% 0 4%;
    align-items: baseline;
}
.trueOrFalseQuestion{
    margin-bottom:5%;
}

aside{
    display: none;
}
.questionType{
    margin-bottom: 2%;
}
ul{
    font-family: Helvetica;
}
.home-page-btn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.questionType{
    font-size: 75%;
}
.question{
 
    font-size: 120%;
}
.questionType{
    list-style-type: none;
    /* display: none; */
}
