.h1 {
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

#profile-image {
    border-radius: 100%;
    height: 37.5px;
    width: 37.5px;
    padding-right: 15px;
    padding-bottom: 10px;
}

nav li{   
    list-style-type: none;
    float: right;
    padding-left: 10px;   
}

.btn {
    border: 1px solid black;
    background-color:transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1px;
    border-radius: 5px;
}

.btn {
    border-color: black;
    color: green;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

.profile-container {
    height: 38vh;
    margin-top: 6%;
}

.profile-image > img {
    border-radius: 80%;
    height: 200px;
    
}

.profile-image {
    float: left;
    margin-left: 10%;
}

.profile h2 {
    float: right;
    font-size: 1.7rem;
    line-height: 45px;
    margin-right: 50%;
    margin-top: 5%;
}

/* CONCEPT BOXES  */

.certificate{
    float: right;
}
.concept-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-bottom: 5%;
}

.concept-container > div {
    background-color: #f1f1f1;
    width: 300px;
    height: 200px;
    margin: 20px;
    text-align: center;
    line-height: 80px;
    margin-left: 5%;
    border-radius: 25px;
    
}

/* BUTTONS */

.resume {
    width: 45%;
    background-color:  #4285f4;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.start {
    width: 45%;
    background-color:  #4CAF50;
    color: white;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.concept-container h2, 
.concept h2 {
    font-size: 1.5rem;
}

button a {
    text-decoration: none;
    color: white;
}
h2 a {
    text-decoration: none;
    color: black;
} 
