body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#bean-tree {
  display: block;
  height: 28rem;
  width: 100%;
}

footer {
  font-size: 1.5rem;
}
