html {
  /* Sets the overall tone */
  color: #000;
  /* Sets base typography */
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  /* Browser specific
  Makes the page more readable */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* Each _line_ of text will be 1.5x
    the element's current font size
    font-size = 16,
    16 * 1.5 = 24px high
    */
  line-height: 1.25;
  /* height is set to 100% of the viewport height */
  min-height: 100vh;
  /* 300 px prevents the page from being too narrow */
  min-width: 300px;
  /* Prevents page from scrolling horizontally.
  Preserves vertical scroll */
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
  /* currentColor is prefered as it will pick up the color set
  by html before color: #fff */
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

nav {
  align-items: center;
  background-color: #80bf74;
  display: grid;
  grid-area: 1 / 1 / 2 / -1;
  grid-template-columns: repeat(3, 1fr);
  height: 3.5rem;
  justify-items: center;
}

.logo-figure {
  height: 2.5rem;
  justify-self: flex-start;
  margin-left: 1rem;
}

.profile-figure {
  justify-self: flex-end;
  margin-right: 1rem;
}

.logo,
.profile-image {
  height: 100%;
}

.nav-h1 {
  font-size: 1.8rem;
}

.purple {
  color: purple;
}
