<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About | java beans</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="About.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    
    <script src="main.js"></script>
</head>
<body>
    <div>
        <h2>About the project</h2>
         <p class="project">Utilizing a Java based Spring framework planT'DD allows users to learn the priciples and technics of test driven development. Several styles of engaging interactive questions and visual examples allow users a simple and fun way to build their knowledge. The program was built using the knowledge attained by the team during thier 14 week full time bootcamp. Including a Java written back-end it also uses Java-Script, and Ajax to populate pages using Thymeleaf, Css, and HTML to create a smooth cohesive feel.</p>
       
    </div>
    <div>  
        <h2> About the team</h2>
         <p class="team">The 4JAK team consits of Jeane, Julian, James, Jaylen, Amal and Kevin. As students at the WeCanCodeIT full-stack boot camp we have learned a strong foundation of Java based software development that is reflected in this TDD learning application. Please check us out on Linked-in and Github!</p>
             
    </div>
    <footer>&2018</footer>
</body>
</html>