<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Learn: Test Driven Development in Java | Java Beans</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

        <!-- CodePen example for question-box: https://codepen.io/FlorinPop17/pen/qqYNgW -->
        <!-- CodePen example for slide-out-lesson: https://codepen.io/kenchernoff/pen/GKqBa -->

    <header>
        <h1>Learn: Test Driven Development in Java</h1>
        <!-- Unicode for hamburger menu to close/open slide-out-lesson -->
        &#8801;
    </header>
    <div class="slide-out-lesson">
        <h2>Learn</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        <!-- Button closes slide-out-lesson -->
        <button> Get Started &rarr;</button>
    </div>
    <div class="question-box">
        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit?</h2>
         <ul class="answers">
             <li>Answer</li>
             <li>Answer</li>
             <li>Answer</li>
             <li>Answer</li>
         </ul>
        <!-- Open correct/incorrect modal box accordingly -->
        <button>Submit</button>
    </div>
        <!-- Modal pop-ups for when a question is answered correctly/incorrectly -->
    <div class="correct-answer-modal">
        <h2>Correct!</h2>
        <button>&rarr;</button>
    </div>
    <div class="incorrect-answer-modal">
        <h2>Incorrect!</h2>
        <button>&#8635;</button>
    </div>
</body>
</html>