<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
  <title>Bean Testing</title>
</head>
<body>
  
</body>
</html>

<li class="bean">
  <p class="questionType" th:text="|Question type: ${bean.questionType}|"></p>
  <p class="multipleChoiceQuestion" th:text="${bean.question}"></p>
  <input class="bean-radio-multipleChoice" 
          th:each="answer : ${bean.answers}" 
          name="radioGroup"
          th:text="${answer}"
          type="radio"
          th:value="${{bean.id}}" />
  <br/>
</li>
