<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/branches.css}" href="/css/branches.css"/>
    <title>treeTDD | Branches</title>
</head>

<body>
    <nav>
        <ul>
        <li><a th:href="@{/}">
            Home Page
        </a></li>
        <li><a th:href="@{/profile}">
            Profile
        </a></li>
        <li><a th:href="@{/branches}">
           	Tree
        </a></li>
        <li><a th:href="@{/}">
           	Logout
        </a></li>
    </ul>
    </nav>
    <h2>Branches</h2>
    <ol>
        <li th:each="branch : ${branches}">
            <a th:href="|@{/cluster/}${branch.id}|" th:text="${branch.name}">
            </a>
            <div class="vl"></div>
        </li>
    </ol>
</body>
</html>