<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/branches.css}" href="/css/branches.css"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
    <title>treeTDD | Branches</title>
</head>

<body>
    <!-- <img src='/images/planTDDlogo4.png'/> -->
    <nav>
        <ul>
        <li><a th:href="|@{/home}|"><button class="btn">Profile</button>
        </a></li>
        <li><a th:href="@{/}"><button class="btn">Logout</button>
        </a></li>
    </ul>
    </nav>
    <h2>Java Testing Branches</h2>
    <ol>
        <li th:each="branch : ${branches}">
            <a th:href="|@{/cluster/}${branch.id}|" th:text="${branch.name}">
            </a>
            <div class="vl"></div>
        </li>
    </ol>
</body>
</html>