<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/Cluster.css}" href="/css/Cluster.css" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
    <title>Clusters from branch</title>
</head>

<body>
    <nav>
        <a th:href="@{/home}">
            Home Page
        </a>
    </nav>
    <!-- Boxes containing concepts - when clicked open Beans -->
    <h1>Test Driven Development in Java</h1>

    <div class="concept-container">
        <ul>
            <li th:each="cluster : ${clusters}" th:text="${cluster.name}">

            </li>
        </ul>
    </div>
</body>

</html>