<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/Cluster.css}" href="/css/Cluster.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/cluster-slideout-lesson.css}" href="/css/cluster-slideout-lesson.css"/>
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
  <title th:text="${cluster.name}"></title>
</head>

<body>

  <div class="concept-container">

    <nav class="nav">

      <figure class="logo-figure">
        <a class="logo-link" th:href='@{/}'>
          <img class="logo" src='/images/planTDDlogoTransparent.png' />
        </a>

      </figure>

      <h1 id="clusterName" th:text="${cluster.name}"></h1>

      <figure class="profile-figure">
        <a th:href="@{/home}">
          <img id="profileImage" 
                class="profile-image" 
                src="/images/alfian_tinangon.jpg" 
                th:src="@{/images/alfian_tinangon.jpg}" 
                alt="picture of user"/>
        </a>
      </figure>

    </nav>


    <main th:id="${cluster.id}" class="cluster-beans">
      <section class="lesson">
        <aside id="slide-out-lesson" class="openLesson">

          <span class="openbtn">&times; Lesson</span>

          <figure class="bean-lesson-figure">
              <img th:if="${cluster.beans[0].lesson.image} != null"
                    id="beanLessonImage" 
                    class="bean-lesson-image" 
                    th:src="${cluster.beans[0].lesson.image}" 
                    alt="picture of bean lesson" />
            </figure>

          <span class="bean-lesson" th:utext="${cluster.beans[0].lesson.example}"></span>
          <script th:src="@{/js/checkIfLessonHasImage.js}"></script>
        </aside>
      </section>

      <section class="bean">

        <span th:utext="${cluster.beans[0].question}"></span>

        <label th:id="${cluster.beans[0].id}" 
                class="bean-label" 
                th:each="answer : ${cluster.beans[0].answers}" 
                for="radioGroup">

          <input class="rdo-bean-answer" 
                  name="radioGroup" 
                  th:text="${answer}" 
                  type="radio" 
                  th:value="${cluster.beans[0].questionNum}" />
        </label>

      </section>


      <button id="submitAnswer" class="submit-answer" disabled="disabled"> Submit </button>

      <figure class="bean-tree-figure">
        <img id="bean-tree" th:src="${cluster.branch.virtualTree.treeImages[0]}" alt="bean tree" />
      </figure>

    </main>


    <div class='modal-screen'>
      <div class="next-question-modal">
        <p id="answerModal" class="modal-content">Correct! Nice job!</p>
        <button id="nextQuestionButton" disabled="disabled">Next Question </button>
        <script defer="defer" th:src="@{/js/loadBeanQuestion.js}"></script>
      </div>
    </div>

    <footer>
      <section class="question-number-and-cluster-size">
        <strong id="currentQuestionNum" th:text="${cluster.beans[0].questionNum}"></strong>
        <!-- <strong id="clusterSize" th:text="${cluster.beans.size()}"></strong> -->
      </section>
    </footer>

  </div>

  <script th:src="@{/js/button.js}"></script>
  <script th:src="@{/js/beanIsLastInCluster.js}"></script>
  <script type="text/javascript" th:src="@{/js/lessonSlideOut.js}"></script>
</body>

</html>