<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/Cluster.css}" href="/css/Cluster.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/cluster-slideout-lesson.css}" href="/css/cluster-slideout-lesson.css"/>
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
  <title>Java Beans | Clusters</title>
</head>

<body>

  <div class="concept-container">

    <nav>
      <a th:href='@{/}'>
        <img class="header-logo" src='/images/planTDDlogoTransparent.png' />
      </a>
      <h1 th:text="${cluster.name}"></h1>
      <img id="profile-image" src="https://d3iw72m71ie81c.cloudfront.net/01233bfb-d920-4740-ad7b-5d529a1e6129-Alfian_Tinangon.jpg"
        alt="picture of user" />
    </nav>

    <aside id="slide-out-lesson" class="openLesson">
      <span class="openbtn">&times; Lesson</span>
      <img id="lessonImage" th:if="${cluster.beans[0].lesson.image} != null" th:src="${cluster.beans[0].lesson.image}" alt="image of bean lesson"
      />
      <span id="beanLessonExample" th:utext="${cluster.beans[0].lesson.example}"></span>
    </aside>

    <main th:id="${cluster.id}" class="clusterBeans">

      <div id="question-and-answers">
        <h3 id="beanQuestion" th:text="${cluster.beans[0].question}"></h3>

        <section class="beanAnswers">
          <label th:id="${cluster.beans[0].id}" class="bean-label" th:each="answer : ${cluster.beans[0].answers}" for="radioGroup">
            <input class="bean-answer" name="radioGroup" th:text="${answer}" type="radio" th:value="${cluster.beans[0].questionNum}"/>
          </label>
          <script th:src="@{/js/enableSubmitButton.js}"></script>
        </section>
        
        <button id="submitAnswer" disabled="disabled"> Submit </button>

      </div>
    </main>


    <div class='modal-screen'>
      <div class="next-question-modal">
        <p id="answer-modal" class="modal-content">Correct! Nice job!</p>
        <button id="nextQuestionButton" disabled="disabled">Next Question </button>
        <script defer="defer" th:src="@{/js/loadBeanQuestion.js}"></script>
      </div>
    </div>

    <footer>
      <img id="bean-tree" th:src="${cluster.branch.virtualTree.treeImages[0]}" alt="bean tree" />
      <section class="question-number-and-cluster-size">
        <strong id="currentQuestionNum" th:text="${cluster.beans[0].questionNum}"></strong>
         / 
        <strong id="clusterSize" th:text="${cluster.beans.size()}"></strong>
      </section>
    </footer>

  </div>

  <script th:src="@{/js/button.js}"></script>
  <script th:src="@{/js/beanIsLastInCluster.js}"></script>

</body>
<script type="text/javascript" th:src="@{/js/lessonSlideOut.js}"></script>

</html>
