<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/home.css}" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
  <title>PlanTDD | Profile</title>
</head>

<body>

  <nav class="nav">

    <figure class="top-bar-left">
      <a id="header-link" th:href='@{/}'>
        <img class="header-logo" src='/images/planTDDlogoTransparent.png' />
      </a>
    </figure>

    <div class="nav-links">
      
      <a class="nav-link" th:href="@{/about}">
        About
      </a>
      
      <a class="nav-link" th:href="@{/}">
        Logout
      </a>

    </div>

  </nav>

  <!-- Page opens after login -->
  
  <header class="profile-header">

    <figure class="profile-figure">
      <img id="profileImage" 
            class="profile-image" 
            src="/images/alfian_tinangon.jpg" 
            th:src="@{/images/alfian_tinangon.jpg}" 
            alt="picture of user"/>
    </figure>

    <h1 class="profile-user-name">
      Hello, johndoe_
    </h1>

    <h2 id="welcomeMessage">
      Welcome back!
    </h2>

  </header>
  <hr />
  
  <!-- End of user profile -->

  
  <main class="concept-container">
    <section class="resume-current-progress">

      <h2 class="h2">Pick up where you left off:</h2>
      <!-- Courses started Resume button redirects to Clusters -->
    
      <div id="currentBeanOne" class="current-progress-bean first-bean">
        <h3 class="h3">Intro to TDD</h3>

        <figure class="cluster-figure">
            <img class="cluster-image" 
                  src="/images/tdd.png" 
                  th:src="@{/images/tdd.png}" 
                  alt="TDD - All Code is Guilty Until Proven Innocent" />
        </figure>
  
        <a class="bean-link" th:href="@{/cluster/1}">
          <button class="resume">Resume &rarr;</button>
        </a>
      </div>

      <div id="currentBeanTwo" class="current-progress-bean second-bean">
        <h3 class="h3">JUnit Testing</h3>

        <figure class="cluster-figure">
            <img class="cluster-image" 
                  src="/images/junitLogo.png" 
                  th:src="@{/images/junitLogo.png}" 
                  alt="junit logo" />
        </figure>

        <a class="bean-link" th:href="@{/cluster/2}">
          <button class="resume"> Resume &rarr; </button>
        </a>
      </div>

      <div id="currentBeanThree" class="current-progress-bean third-bean">
        <h3 class="h3">Hamcrest</h3>

        <figure class="cluster-figure">
            <img class="cluster-image" 
                  src="/images/hamcrestLogo.jpg" 
                  th:src="@{/images/hamcrestLogo.jpg}" 
                  alt="hamcrest logo" />
        </figure>

        <a class="bean-link" th:href="@{/cluster/3}">
          <button class="resume"> Resume &rarr; </button>
        </a>
      </div>

    </section>

    <hr />

    <section class="start-new-progress">

      <h2 class="h2">Start something new!</h2>

      <!-- Courses not started,  Get Started button redirects to Beans -->
    
      <div class="start-new-bean" th:each="tree : ${virtualTree}">
        <h3 class="h3" th:text="${tree.name}"></h3>
        
        <figure class="cluster-figure">
          <img class="cluster-image" 
                src="/images/javaLogo.png" 
                th:src="@{/images/javaLogo.png}" 
                alt="java logo" />
        </figure>

        <a class="bean-link" th:href="@{/branches/}">
          <button class="start">Get Started &rarr;</button>
        </a>
      </div>
    
      <div class="coming-soon-tree">
        <h3 class="h3">JavaScript</h3>

        <figure class="cluster-figure">
            <img class="cluster-image" 
                  src="/images/jsLogo.png" 
                  th:src="@{/images/jsLogo.png}" 
                  alt="java logo" />
        </figure>

        <p>Coming soon!</p>
      </div>

    </section>

  </main>


  

</body>
</html>