<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans|Oswald" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/index.css}" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
    <title>Java Beans</title>
</head>
<body>
    <nav>
        <a th:href='|@{/}|'><img class="header-logo" src='/images/planTDDlogoTransparent.png'/></a>
    </nav>
    <section class="login">
      <img src="/images/Artboard 1.png"/>
        <div class = "form-container">
            <h2><strong>Test first. Code better. Together.</strong></h2>

            <p>Test Driven Development is the standard for creating clean, well documented, 
                bug-free code. Plan'TDD is designed to teach you the basics of testing in the Java language through TDD, in a simple 
                intuitive way, so you can work with others to be successful. </p>
        
            <form action="/home.html">
                <input type="text" name="uname" placeholder="Username" /><br/>
                <input type="text" name="Password" placeholder="Password" /><br/>
                <a th:href="|@{/home}|"><input type="submit" value="Login &rarr;" /></a>
            </form>
    </div>
    </section>

    <section class = "tldr-about">

        <div class = "tldr-about-container">
        <h1>Code more efficiently with TDD</h1>

        <div class="flex-grid-thirds">
            <div class="col">
                <img src = "/images/focus.svg" height="110"/>
                <h2>Clear Focus</h2>
                <p>
                    You're more productive while coding, and TDD helps keep that productivity high by narrowing your focus. It forces you to think about smaller chunks of functionality at a time rather than the application as a whole.
                </p>
            </div>
            <div class="col">
                    <img src = "/images/archive.svg" height="110"/>
                    <h2>Living Documentation</h2>
                    <p>
                        Tests can serve as documentation to a developer. Also you can see the expected inputs a method requires and what you can expect as outcome, all based on the assertions made in the test.
                    </p>
            </div>
            <div class="col">
                    <img src = "/images/clean.svg" height="110"/>
                    <h2>Tidier Code</h2>
                
                <p>
                    Your tests are only interfacing with public methods, so you have a much better idea of what can be made private. You code more efficent and it reduces the chance of creating un-needed or redundant code.
                </p> 
            </div>
          </div>
        </div>
    </section>


    <!-- Snippet to encourage a sign-up -->

    <section class = "action-message">

    
        <div class = "action-message-container">
            <h1>TDD is becoming the industry standard</h1>
            <p>To eliminate future bug fixes, more and more companies in the industry are seeing 
                the value of testing their 
                software as it's created. The method of Test Driven 
                Development allows the code to be written along with clear documentation, proving 
                that each part works in a way other coders can understand.</p>
        </div>

        <img src="/images/Artboard 2.png" height="670" width="600" />

    </section>

    <!-- Redirect to login.html -->

    <section class = "login-redirect">
        <div class = "login-redirect-container">
            <h2>It is time to start refactoring your workflow</h2>
            <p>Because learning TDD might just revolutionize the way you look at code</p>
            <a th:href="|@{/home}|"><button>Get Started &rarr;</button></a>
        </div>
    </section>

</body>
</html>