<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Java Tree Completed!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/java-tree-completed.css}" href="../static/css/java-tree-completed.css" />
</head>
<body>
    <header>
        <h1>Certificate Of Completion</h1>
    </header>
    <main class="content">
        <p class="project">You are so amazing :)</p>
        <p>Many Congrats to you friend! ( :</p>
    </main>    
    <footer>
        &copy; Intergalactice Federation of Love &amp; Peace! 2018
    </footer>
</body>
</html>
