<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/layout.css}" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/Login.css}" href="/css/Login.css" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/minireset.min.css}" href="/css/minireset.min.css" />
</head>
<body>
    <h1>PlanT'DD</h1>
        <form action="/login">
            <input type="text" name="uname" placeholder="Username" /><br/>
            <input type="text" name="Password" placeholder="Password" /><br/>
            <input type="submit" value="Login &rarr;" />
        </form>
        <footer>4JAK!</footer>
</body>
</html>